---
import NavBarDesktop from './NavBarDesktop.astro';
import NavBarMobile from './NavBarMobile.astro';
---

<header
  class="fixed w-full z-50 bg-white/90 dark:bg-gray-900/90 backdrop-blur-md border-b border-gray-200 dark:border-gray-800 shadow-sm"
>
  <div
    id="cover"
    class="bg-black absolute top-0 right-0 h-screen w-full opacity-25 z-10 hidden"
  >
  </div>
  <div class="container mx-auto px-4 py-4 flex justify-between items-center">
    <a
      href="/"
      class="text-3xl pb-1 font-heading font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent relative overflow-hidden group"
    >
      Portfolio
      <span
        class="absolute bottom-0 left-0 w-0 h-0.5 bg-gradient-to-r from-primary to-secondary group-hover:w-full transition-all duration-300"
      ></span>
    </a>

    <NavBarDesktop />
    <NavBarMobile />
    <!-- Botón menú hamburguesa para móviles -->
  </div>
</header>
