<button
  id="menu-toggle"
  class="md:hidden flex flex-col justify-center items-center w-10 h-10 relative z-50 text-accent hover:text-gray-300"
>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</button>
<div
  id="mobile-menu"
  class="absolute top-0 right-0 flex items-center justify-center transition-all duration-300 transform opacity-0 z-51 pointer-events-none"
>
  <ul
    class="flex flex-col gap-8 text-center absolute top-16 right-0 dark:bg-gray-800 p-4 rounded-lg"
  >
    <li class="p-0">
      <a
        href="#about"
        class="text-xl font-medium text-gray-800 dark:text-gray-200 hover:text-accent mobile-link p-0 m-0"
      >
        Acerca de
      </a>
    </li>
    <li>
      <a
        href="#skills"
        class="text-xl font-medium text-gray-800 dark:text-gray-200 hover:text-accent mobile-link"
      >
        Habilidades
      </a>
    </li>
    <li>
      <a
        href="#projects"
        class="text-xl font-medium text-gray-800 dark:text-gray-200 hover:text-accent mobile-link"
      >
        Proyectos
      </a>
    </li>
    <li>
      <a
        href="#contact"
        class="text-xl font-medium text-gray-800 dark:text-gray-200 hover:text-accent mobile-link"
      >
        Contacto
      </a>
    </li>
  </ul>
</div>

<style>
  /* Estilos para las líneas del menú hamburguesa */
  .hamburger-line {
    width: 24px;
    height: 2px;
    background-color: currentColor;
    margin: 3px 0;
    transition:
      transform 0.3s,
      opacity 0.3s;
    display: block;
  }

  .menu-active {
    opacity: 1;
    pointer-events: auto;
  }

  /* Animación para el menú hamburguesa cuando está activo */
  .menu-open .hamburger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .menu-open .hamburger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  /* Añadir una animación suave al menú móvil */

  /* Animación para los enlaces del menú móvil */
  .mobile-link {
    display: inline-block;
    padding: 0.5rem 1rem;
  }

  .mobile-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 50%;
    background: linear-gradient(
      to right,
      var(--color-primary),
      var(--color-secondary)
    );
    transition:
      width 0.3s ease,
      left 0.3s ease;
  }

  .mobile-link:hover::after {
    width: 80%;
    left: 10%;
  }
</style>

<script>
  function setupMenu() {
    const menuToggle = document.getElementById('menu-toggle');
    const mobileMenu = document.getElementById('mobile-menu');
    const mobileLinks = document.querySelectorAll('.mobile-link');
    const cover = document.getElementById('cover');

    //listeners
    menuToggle?.addEventListener('click', toggleMenu);

    cover?.addEventListener('click', toggleMenu);

    mobileLinks.forEach((link) => {
      link.addEventListener('click', () => {
        toggleMenu();

        // Pequeño retardo para permitir que el menú se cierre antes de desplazarse
        setTimeout(() => {
          const targetId = link.getAttribute('href');
          const targetElement = document.querySelector(targetId);
          if (targetElement) {
            targetElement.scrollIntoView({ behavior: 'smooth' });
          }
        }, 300);
      });
    });

    function toggleMenu() {
      menuToggle?.classList.toggle('menu-open');
      mobileMenu?.classList.toggle('menu-active');
      mobileMenu?.classList.toggle('pointer-events-none');
      // Bloquear el scroll cuando el menú está abierto
      document.body.style.overflow = menuToggle?.classList.contains('menu-open')
        ? 'hidden'
        : '';
      cover?.classList.toggle('hidden');
    }
  }

  // Script para controlar el menú móvil
  document.addEventListener('astro:page-load', () => {
    setupMenu();
  });
</script>
