---
import LiNavBar from './LiNavBar.astro';
---

<nav class="hidden md:block">
  <ul class="flex gap-8">
    <LiNavBar href="#about" title="Acerca de mi" />
    <LiNavBar href="#projects" title="Proyectos" />
    <LiNavBar href="#skills" title="Habilidades" />
    <LiNavBar href="#contact" title="Contacto" />
  </ul>
</nav>
