---
import ProjectCard from './ProjectCard.astro';
import Button from './Button.astro';
import VinotecaNexus from '@/assets/VinotecaNexus.png';
import HimnarioJovenes from '@/assets/HimnarioJovenes.jpg';
import FixCity from '@/assets/FixCity.jpg';
const projects = [
  {
    title: 'Vinoteca Nexus',
    description:
      'Una plataforma digital para una vinoteca que permite explorar y descubrir una amplia variedad de vinos, ofreciendo una experiencia visual elegante y moderna para el usuario.',
    image: VinotecaNexus,
    tags: ['html', 'css'],
    icons: ['devicon:astro', 'devicon:javascript', 'devicon:tailwindcss'],
    link: 'https://vinoteca-six.vercel.app/',
  },
  {
    title: 'FixCity',
    description:
      'Una aplicación móvil que permite a los inspectores registrar,ver y editar las obras que se realizan en la ciudad facilitando la logística entre los mismos.',
    image: FixCity,
    tags: ['react native', 'expo'],
    icons: [
      'devicon:typescript',
      'devicon:react',
      'devicon:tailwindcss',
      'devicon:firebase',
    ],
    link: '',
  },
  {
    title: 'Himnario de Jóvenes',
    description:
      'Una aplicación movil interactiva que reúne himnos y canciones, diseñada para conectar a la comunidad juvenil y facilitar el acceso a recursos musicales.',
    image: HimnarioJovenes,
    tags: ['expo', 'astro db'],
    icons: ['devicon:astro', 'devicon:tailwindcss', 'devicon:typescript'],
    link: '',
  },
];
---

<section id="projects" class="py-10 bg-light dark:bg-dark">
  <div class="container mx-auto px-4">
    <div class="max-w-3xl mx-auto text-center mb-16">
      <h2
        class="text-3xl md:text-4xl font-heading font-bold mb-4 text-gray-200"
      >
        Proyectos Destacados
      </h2>
      <div
        class="h-1 w-20 bg-gradient-to-r from-primary to-secondary rounded-full mx-auto mb-6"
      >
      </div>
      <p class="text-gray-700 dark:text-gray-300">
        Aquí hay algunos de mis proyectos recientes. Podés encontrar más
        proyectos en mi
        <a
          href="https://github.com/lucasortega2"
          class="group relative inline-block"
        >
          <!-- Texto normal -->
          <span class="transition-colors duration-300 ease-in-out text-accent">
            GitHub
          </span>
          <!-- Capa de gradiente, inicialmente oculta -->
          <span
            class="absolute inset-0 bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent opacity-0 transition-opacity duration-300 ease-in-out group-hover:opacity-100"
          >
            GitHub
          </span>
        </a>
      </p>
    </div>

    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8 mb-12">
      {projects.map((project) => <ProjectCard {...project} />)}
    </div>

    <div class="text-center">
      <Button
        href="https://github.com/lucasortega2 "
        target="_blank"
        variant="primary"
      >
        Ver Más Proyectos
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5 ml-2"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"></path>
        </svg>
      </Button>
    </div>
  </div>
</section>
